/* weather app CSS styling */

:root {
    --dark: #333333;
    --light: #fff;
    --highlight: #74FBB5;
    --hover: #fff;
    --hover-span: orange;
    --box-shadow: rgba(0, 0, 0, 0.8);
    --gb-grey: #BCBEC3;
    --peachy: #F3AEAC;
    --peachier: #EA655D;
    --purps: #A5ACF5;
    --aqua: #74FBB5;
    --lumi: #c0fa62;
    --gradient: linear-gradient(45deg,
            rgba(54, 54, 54, 0.8) 0%,
            rgba(125, 125, 125, 0.7) 100%);
    --gradient-light: linear-gradient(45deg,
            rgba(158, 158, 158, 0.8) 0%,
            rgba(255, 255, 255, 0.7) 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* border: 1px dashed red; */
}

body {
    background-image: var(--gradient);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: var(--light);
    line-height: 1.5;
    padding: 0;
    margin: 0;

}

h2 {

    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

button {
    width: 100%;
    border: none;
    margin: 1rem;
    margin-left: 0;
}

ul {
    padding-top: 1rem;
    padding-left: 1.5rem;
}

ul>li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    color: var(--highlight);
}

input[type=text] {
    text-transform: capitalize;
}



/* flex container */

.container {
    margin: 0 auto;
}

/* header */

.header {
    height: 10rem;
    text-align: center;
    /* border: 1px solid red; */
    background-color: var(--gradient);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    /* border: 1px solid red; */
}

.header-title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.header-title img {
    margin-left: -1.5rem;
    margin-bottom: 1rem;
    /* border: 1px solid red; */
}

.todays-date {
    justify-content: flex-end;
    float: right;
}

/* main */

.main {
    margin: 0 auto;
    padding: 2rem;

}

.weather-top {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* border: 1px solid red; */

}

.viewer {
    background-color: #fff;
    color: #333333;
    border-radius: 1rem;
    padding-top: 0;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    /* border: 1px solid red; */
}

.current-top {
    margin-top: -1rem;
    padding-top: -1rem;
    padding-bottom: 1.5rem;
}


.weather-search {
    border: none;
    height: 2rem;
    padding: 1rem;
}

.current-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
}

.description {
    display: inline-flex;
    justify-content: space-between;
    /* margin-top: -1rem; */
}

.current {
    margin-top: 1rem;
}


.multi-day .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas:
        "about-text about-text photo";
    justify-content: center;

}

.city-name {

    font-size: 38px;

}

.weather-icon {
    float: right;
}

.pulse {
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0% {
      font-variation-settings: 'wght' 100;
    }
    50% {
      font-variation-settings: 'wght' 700;
    }
    100% {
      font-variation-settings: 'wght' 100;
    }
  }

.material-icons:before {
    position: absolute;
    content: "\E84E";
    color: #882288;
    font-size: 2.4rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 28px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

.weather-bottom {
    margin-top: -2rem;
    padding-top: 0;
    padding: 2rem;
    /* border: 1px solid lightgreen; */
    text-align: center;
    width: 100vw;
}

.five-day-cards {
    margin: 1rem auto;
    text-align: center;
    padding: 2rem;
    /* border: 1px solid red; */
}

.weather-bottom #forecast-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.card {
    width: 300px;
    height: 350px;
    text-align: center
}

.card img {
    -webkit-font-smoothing: antialiased;
}

/* #aside {
    height: 30vh;
} */

/* footer */

.footer {
    background-color: #333333;
    margin-top: 4vh;
    height: 8rem;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 1rem;
    /* border: 1px dashed red; */
}

.footer strong {
    color: var(--peachier);
    font-family: monospace;
    font-size: 18px;
}

.footer-text {
    color: var(--light);
    padding: 0px 0px;
}

.footer-image img {
    width: 440px;
    height: 400px;

}

.footer-image .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
